* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}
img {
    cursor: pointer;
}

.linea{
    width: 90%;
    height: 2px;
    background: black;
    opacity: 40%;
    margin: 0 auto;
}

p{
    cursor: pointer;
}
/* header */
.header-menu>ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 11px 0px 8px;
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 40%;
}
.header-menu >ul>li:first-child {
    color:red;
    padding:0 8px;
}
ul>li{
    list-style: none;
    color:black
}

.header-menu >ul>li:first-child:hover {
    color:darksalmon;
    cursor:pointer;
}

.header-menu >ul>li:hover {
    color:grey;
}

.header-menu >ul>li{
    padding-left: 9px;
    cursor:pointer;
}
 a{
     text-decoration: none;
 }
  ul>li {
      text-decoration: none;
  }
/* Header red */
.bar{
    width: 55px;
    height: 55px;
    margin-right: 20px;
}

.display-flex{
    display: flex;
}

.header-red-title {
    display: flex;
    height: 90px;
    width: 100%;
    background: #7e0019;
    padding: 12px 0;
    justify-content: space-around;
}

.p-header>a {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: -15px;
    cursor: pointer;
    margin-bottom: 9px;
}

.red-title-left-side {
    align-items: center;
}
.text-center-up{
    margin-left: 38px;
    margin-top: -20px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.club {
    width: 95px;
    height: 50px;
    cursor: pointer;
}

.lang {
    width: 80px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 7px;
}

.red-title-center-side {
    margin-top: 20px;
    margin-left: 82px;
}

.text-center-down {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 75px;
    margin-top: -5px;
}

.text-center-up {
    font-family: 'Vollkorn', serif;
}

.header-down-list >ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 11px 0px 8px;
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 30%;
    margin-right: 8px;

}

.header-down-list>ul>li>a{
    padding-left: 9px;
}

.header-down-list>ul>li:hover {
    color: grey;
    cursor: pointer;
}

.header-down-list>ul>li:first-child {
    color:red;
}

.header-down-list>ul>li:hover:first-child{
    color:darksalmon;
    cursor: pointer;
}

/*button -start*/
 .myButton {
     background-color: #B30C1D;
     border-radius: 42px;
     border: 4px solid white;
     display: inline-block;
     cursor: pointer;
     color: white;
     font-family: Arial;
     font-size: 19px;
     padding: 11px 18px;
     text-decoration: none;
     text-shadow: 0px 0px 0px red;
 }
.myButton:hover {
    background:red;
    background-color:indianred;
}
.myButton:active {
    position:relative;
    top:1px;
}
/*button -end*/
.red-title-right-side {
    display: flex;
    align-items: center;
}
.red-title-center-side>p{
    cursor: pointer;
}
.lang {
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-bottom: 7px;
    margin-right: 19px;
    margin-top: 1px;
}

/* hipe-block start */
.hipe-block{
    display: flex;

    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}
.reklama{
    align-self: flex-start;
    margin-left: 450px;
    opacity: 40%;
}

.hipe-block> img {
    width: 1175px;
    height: 75px;
    margin-left: 70px;
    cursor: pointer;
}

/* hipe-block end */

/*block-statistic start*/
.covid-stat-calculate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    align-items:center;
    /*margin-left: 150px;*/
    /*margin-right: 150px;*/
}

.covid-confirmed,
.covid-active,
.covid-healthy,
.covid-die {
    width: 290px;
    height: 100px;
    border: 2px solid rgba(215, 215, 215, 0.276);
    margin-left: 27px;

}
.covid-stat-main>p {
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: red;
    cursor: pointer;
}

.covid-block {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.covid-block-stat{
    font-weight: bold;
    font-size: 32px;
    line-height: 0.9em;
    white-space: nowrap;
    margin-bottom: 0px;
    margin-top: 14px;
    text-align: center;
}

.covid-block-stat-numbers{
    color:red;
    cursor: pointer;
    font-size: 20px;
    align-self: flex-end;
}

.covid-confirmed>p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: -14px;
    margin-top: 25px;
    cursor: pointer;
}

.covid-confirmed>p:hover {
    color:red;
}
.covid-confirmed:hover{
    color:red;
    cursor: pointer;
}

.statistic-covid-end>p {
    font-weight: 400;
    margin-left: 180px;
    line-height: 45px;
    font-size: 14px;
    text-transform: none;
    color:black;
}

.statistic-covid-end>p>span {
    font-weight: bolder;
}

.map-covid>p{
    color:red;
    font-weight: 400;
    font-size: 14px;
    margin-left: 180px;
    text-transform: uppercase;
}
.covid-stat-calculate {
    margin-bottom: 25px;
}

/*block-statistic end*/

.block-main-news{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom: 30px;
}
.red-zone-text-one,
.red-zone-text-second,
.block-news-middle-1-1-text,
.block-news-middle-1-2-text,
.text-corona{
font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    text-align: left;
}
.text-corona>a {
    color: black;
}
.block-news-middle-1-2-text {
    margin-top: 5px;
    margin-bottom: 5px;
}
.block-news-middle-1-3-text>p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.block-news-left,
.block-news-middle
{
    width: 25%;
    margin-left: 20px;
    vertical-align: 90%;
}
.block-news-right{
    width: 50%;
    margin-left: 20px;
}
.last-news-block-middle {
    width: 850px;
    display: flex;
    flex-direction: space-evenly;
    flex-wrap: wrap;
    /*padding: 0 12px 24px 12px;*/
    /*box-sizing: border-box;*/
}


.last-news-block-middle-section {
    width: 350px;
   margin-left: 10px;
}
.info-text>a{
    font-size: 12px;
    text-transform: uppercase;
    color:#7E0019;
    cursor: pointer;
    font-family:'Vollkorn', serif;
    font-weight: bold;
}
.info-text>a:hover {
    color: red;
}
.block-news-middle-1-3-text>p
{
    cursor: pointer;
}

.title-last-news{
    text-transform: uppercase;
}
.main-last-news-block{
    display: flex;
    justify-content: space-between;
}

.text-date{
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 1px;
    margin-top: 2px;
    color: #888;
    display: block;
}

.last-news-block-left{
    width: 330px;
    margin-left: 15px;
    height: 100%;
    border: 2px solid;
    border-color: rgba(6,6,1,0.3)
}

.last-news-block-left-all{
    font-size: 16px;
    margin-left: 5px;
}

.last-news-block-left-all:nth-child(odd){
    font-weight: bolder;

}
.last-news-block-left-all>p>a:hover {
    cursor: pointer;
    color: #7E0019;
}
.last-news-block-left-all>p>a{
    color: #1A1A1A;
}

.last-news-block-right {
    margin-right: 23px;
    margin-left: 7px;
    flex-basis: 25%;
}
.middle-section-img>img{
    width:780px;
}
.bold-black a {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
    font-weight: 800;
    color: #1A1A1A;
}
.red-small-text {
    font-family: monospace;
    color: #7E0019;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bigger {
    width: 100%;
}
.old-black>a {
    display: block;
}

.last-news-block-left-all>p>a{
    margin-left: 15px;
    margin-top: 10px;
}

.title-last-news{
    margin: 15px 0 15px;
    text-transform: uppercase;
    color:#7E0019;
    cursor: pointer;
    font-family:'Vollkorn', serif;
    font-weight: bold;
}
.last-news-block-right>img{
    margin-bottom:30px;
}

.last-news-block-right{
    align-self: stretch;
}
.main-last-news-block{
    margin-bottom: 40px;
}
/*girl section banner*/
.container1 {
    display: flex;
    flex-direction: row;
    width: 1273px;
    height: 423px;
    background: #EAE8E9;
    padding: 45px 30px;
    padding-left: 85px;
    margin: 0 auto;
}

.logo>img{
    width: 340px;
    height: 330px;
    border-radius: 50%;
    opacity: 85%;
}
.logo>img:hover {
    opacity: 100%;
    transition-duration: 500ms;
    border-radius: 45%;
}

.myButton2 {
    background-color: #7E0019;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    padding: 20px 18px;
    text-decoration: none;
    text-shadow: 0px 0px 0px red;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 35px;
    width: 270px;
    height: 70px;
    text-align: center;
}

.myButton2:hover {
    background-color: #B80019;
    transition-duration: 500ms;
}

.container-right-side-title>p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: uppercase;
    padding: 15px 0;
}

.container-right-side-main-text>b,
.container-right-side-main-text>p{
    font-size: 18px;
    margin-right:50px;
    line-height: 1.2em;
    padding-right: 7%;
}

.container-right-side{
    margin-left: 50px;
    padding-right: 50px;
}

.myButton2>b{
    text-align: center;
}

.container-right-side-btn{
    display: flex;
    text-align: center;
}
.container-right-side-main-text>b {
    font-family: 'Fira Sans', sans-serif;
}
.all-public{
    margin-left: 50px;
    font-size: 30px;
}

/*persons-author container*/
.cont-2-first-content-1{
    margin-right: 25px;
    width: 51.5%;
    height: 210px;
    background: #EEEFF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-2-first-content-1-mainText {
    display: flex;
    justify-content: center;

    font-size: 25px;
    margin: 0 10px 0 10px;
    padding-bottom: 40px;
    font-weight: 400;
}


.cont-2-first-content-1-mainCont-pic>img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.cont-2-first-content-1-mainCont {
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    margin-left: 11px;
}
.author>b{
    font-size: 13px;
    text-transform: uppercase;
    color: #900022;
    padding: 0 0 0 10px;
    width: calc(100% - 40px);
    line-height: 1.2em;
    margin-left: 10px;
}

/*.cont-2-first-mainCont-1-mainCont-1-discription>p {*/
/*font-size: 13px;*/
/*text-transform: none;*/
/*color: #888;*/
/*padding-top: 12px;*/
/*font-weight: 300;*/
/*margin-left: 15px;*/
/*}*/


.pic-small{
    width: 45px;
    height: 45px;
}

.small-block {
    width: 300px;
    height: 210px;

}
.pic-small>img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.small-text>a {
    font-size: 13px;
    text-transform: none;
    color: #888;
    padding-top: 12px;
    font-weight: 300;
    margin-left: 15px;
}
.cont-2-first-mainCont-2 {
    display: flex;

}
.second-block-first-column {

}


.container-config{
    width: 25%;
    /*width: 300px;*/
    height: 210px;
}


.container-config-inside-text {
    margin: 0 10px 0 15px;
    font-size: 20px;
    margin-bottom: 40px;
}
.cont-2-first-mainCont {
    display: flex;
    margin-left: 35px;
    flex-direction: row;
    flex-wrap:wrap;
    margin-right: 20px;
}
.cont-2-first-mainCont:first-child{
    margin-right: 30px;
}
.container-2 {
    display: flex;
    justify-content: space-between;

}
.container-config{

}

.container-config,
.container-config-2 {
    /*width: 28%;*/
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    margin-bottom: 30px
}
.container-config {
    /*display: inline-block;*/
    background: #EEEFF0;
    width: 25%;
    margin-right: 20px;
}
.container-config-2{
    background: #555555;
    margin-left: -228px;
    margin-right: 38px;
}
}
.cont-2-second {
    /*margin-right: 40px;*/
}

.blog-text-1>p{
    margin-left: 38px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    color: #7E0019;
    cursor: pointer;
    font-family: 'Vollkorn', serif;
    font-weight: bolder;
}
.blog-text-2>p{
    margin-bottom: 14px;
    margin-left: -229px;
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
    color: #7E0019;
    cursor: pointer;
    font-family: 'Vollkorn', serif;
    font-weight: bolder;
}

.p-header{

}
.black-right-block {
    width: 28%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    margin-left: 25px;
    margin-bottom: 30px
}
.container-config-inside-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 11px;
}
.author2{
    margin-bottom: -20px;
}
.small-text-unique{
    margin-bottom: 10px;
}
.small-text-unique2{
    margin-bottom: 0px;
}
.main-text-trump>a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    text-align: left;
    color: black;
}

.main-text-trump2>a,
.main-text-trump3>a{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    text-align: left;
    color: white;
    margin-bottom: 10px;
}
.main-text-trump>a:hover,
.main-text-trump2>a {
    color: #7E0019;
}
.main-text-trump3>a:hover {
    color: #bbbbbb;
}
.author-color>a{
    color: #7E0019;
}
.author-blackandwhite>a {
    color:white;
}

.correct-h {
    margin-bottom: -20px;
}
.black-t>img{
    margin-top:10px;
}
.column-text>p:hover{
 color: #900022;
}

/*.linea-red{*/
/*    width: 100%;*/
/*    height: 5px;*/
/*    background: black;*/
/*    opacity: 40%;*/
/*    margin: 0 auto;*/
/*}*/